site_name: My Project Docs
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_signature: true
          selection:
            docstring_style: google

nav:
  - Home: index.md
  - API Reference: reference.md
